/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/gitignore
app/Http/Requests/Admin/*.txt
/resources/views/admin/articles/*.txt
/routes/web_dev.php
/tests0
leiame.txt
